main {
    padding-top: 32px;
}

.background {
    background: url("../Images/xd.jpg") center/cover;
    width: 100%;
    height: 100% ;
    position: fixed;
    z-index: -1;
}

.package {
    width: 80%;
    margin: 16px 0;
    border: 4px solid #bbb;
    border-left: none;
    position: relative;
}

.package:hover,
.packge:active {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    border-color: #ff5454;
}
.package a {
    text-decoration: none;
    color: inherit;
    display: block; 
}

.package__badge {
    position:absolute;
    top:0;
    left: 455px;
    margin: 115px;
    font-size: 24px;
    color: white;
    background: #ff5454;
    padding: 6px;
}


.package__subtittle {
    color: #525151
}

.package__info {
    padding: 16px;
    border: 1px solid #0e4f1f;
    font-size: 20px;
    color: #64aaad;
    background: white;
}

.clearfix {
    clear: both;
}

#PLUS {
    background: rgba(213, 255, 220, 0.95);
    float:center;
    padding: 10px;
    width: 50%;
    display:;
    vertical-align:center; 
    box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.3);
    position:static;
    margin-top: 5%;
}

#GRATIS {
    background: rgba(213, 255, 220, 0.95);
    float: right;
    border-right: none;
    border-left: 4px solid;
    text-align: right;
    width: 75%;
    box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.3);
}

#free:hover,
#free:active {
    border-left-color:#ff5454;
}

#PREMIUM{
    background: rgba(213, 255, 220, 0.95);
    width: 50%;
    box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.3);
}

#PREMIUM .package.package__tittle {
    color: white;
    
}

#PREMIUM .package__subtittle {
    color: #525151
    
}